{% extends 'base.html' %}
{% block title %} Criar Anúncio {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <h1>
        
        Editar
        
        
    </h1>
        {% csrf_token %}
        
        {%if update %}
        <section id="update" class="bg-light py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="card">
                  <div class="card-header bg-primary text-white">
                    <h4>
                      <i ></i> Editar Anúncio</h4>
                  </div>
                  <div class="card-body">
                      {% include 'partials/_alerts.html' %}
                      <form action="{% url 'update' pk%}" method="POST">
                          {% csrf_token %}
                        <div class="form-group">
                        <label for="first_name">Título</label>
                        <input type="text" name="titulo" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="last_name">Categoria</label>
                        <select name="categoria" id="categoria" class="form-control" size="8" multiple="multiple">
                          {% for choice in category_choices %}
                              <option value="{{ choice }}">{{ choice }}</option>
                          {% endfor %}
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="username">Endereço</label>
                        <input type="text" name="endereco" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="email">Cidade</label>
                        <input type="text" name="cidade" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="phone">Estado</label>
                          <input type="text" name="estado" class="form-control" required>
                        </div>
                      <div class="form-group">
                        <label for="password2">Cep</label>
                        <input type="password" name="cep" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="password">Descrição</label><br>
                        <textarea id= "descricao" name="descricao" placeholder="Descrição" required></textarea>
                      </div>
                      <div class="form-group">
                          <label for="password">Preço</label>
                          <input type="text" onkeypress="return onlynumber();"name="preco" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="password">Foto Principal</label>
                          <input type="file" name="foto-principal" />
                      </div>
                      <div class="form-group">
                          <label for="password">Foto - 1</label>
                          <input type="file" />
                      </div>
                      <div class="form-group">
                          <label for="password">Foto - 2</label>
                          <input type="file" />
                      </div>
                      <div class="form-group">
                          <label for="password">Foto - 3</label>
                          <input type="file" />
                      </div>
                      <div class="form-group">
                          <label for="password">Foto - 4</label>
                          <input type="file" />
                      </div>
                      <div class="form-group">
                          <label for="password">Foto - 5</label>
                          <input type="file" />
                      </div>
                      <div class="form-group">
                          <label for="password">Foto - 6</label>
                          <input type="file" />
                      </div>
                      <input type="submit" value="Editar" class="btn btn-secondary btn-block">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> 
        {% else %}
        <br>
        <section id="register" class="bg-light py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <div class="card">
                    <div class="card-header bg-primary text-white">
                      <h4>
                        <i ></i> Editar Anúncio</h4>
                    </div>
                    <div class="card-body">
                        {% include 'partials/_alerts.html' %}
                        <form action="{% url 'update' listing.id%}" method="POST">
                            {% csrf_token %}
                          <div class="form-group">
                          <label for="first_name">Título</label>
                          <input type="text" name="titulo" class="form-control" required value={{listing.title}}>
                        </div>
                        <div class="form-group">
                          <label for="last_name">Categoria</label>
                          <select name="categoria" id="categoria" class="form-control" size="8" multiple="multiple">
                            {% for choice in category_choices %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                          <label for="username">Endereço</label>
                          <input type="text" name="endereco" class="form-control" value={{listing.address}} required >
                        </div>
                        <div class="form-group">
                          <label for="email">Cidade</label>
                          <input type="text" name="cidade" class="form-control" value={{listing.city}} required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Estado</label>
                            <input type="text" name="estado" class="form-control" value={{listing.state}} required>
                          </div>
                        <div class="form-group">
                          <label for="password">Cep</label>
                          <input type="text" name="cep" class="form-control" value={{listing.zipcode}} required>
                        </div>
                        <div class="form-group">
                          <label for="password">Descrição</label><br>
                          <input type="text" name="descricao" class="form-control"  value={{listing.description}} required>
                        </div>
                        <div class="form-group">
                            <label for="password">Preço</label>
                            <input type="text" onkeypress="return onlynumber();"name="preco" value={{listing.price}} class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Foto Principal</label>
                            <input type="file" name="foto-principal"  />
                        </div>
                        <div class="form-group">
                            <label for="password" >Foto - 1 </label>
                            <input type="file" />
                        </div>
                        <div class="form-group">
                            <label for="password">Foto - 2</label>
                            <input type="file" />
                        </div>
                        <div class="form-group">
                            <label for="password">Foto - 3</label>
                            <input type="file" />
                        </div>
                        <div class="form-group">
                            <label for="password">Foto - 4</label>
                            <input type="file" />
                        </div>
                        <div class="form-group">
                            <label for="password">Foto - 5</label>
                            <input type="file" />
                        </div>
                        <div class="form-group">
                            <label for="password">Foto - 6</label>
                            <input type="file" />
                        </div>
                        <input type="submit" value="Criar" class="btn btn-secondary btn-block">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
        {% endif %}
    </form>
</div>
{% endblock %}